/* body{
	background-color: pink;
} */
.title{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	font-family: 'Krona One', sans-serif;
	font-size: 80px;
	transition: -webkit-text-stroke-color 2s, color 2s;
}
.socials{
position:fixed;
bottom: 0%;
left: 0%;
width: 5%;
height: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
	width: 70%;
	height: 50%;
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
	width: 70%;
	height: 50%;
  background: #007bb5;
  color: white;
}

.container{
	background-image: url('heart.png');
	background-size: cover;
}
.title:hover{
	color:pink;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.landing_animation_container{
	width: 100%;
	height: 100%;
	background: black;
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
	animation-name: background_animation;
	animation-duration: 1s;
	animation-fill-mode:forwards;
	animation-delay: 3s;
}

@keyframes background_animation {
	0%   { opacity: 1; }
	99%  { opacity: 0; z-index: 0;}
	100% { opacity: 0; z-index: -1;}
}
.main_title{
	color: white;
	font-size: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.cssload-square {
	margin: 201px auto;
	width: 58px;
	height: 58px;
	transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
}

.cssload-square-part {
	position: absolute;
	width: 58px;
	height: 58px;
	z-index: 1;
	animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-o-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-ms-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-webkit-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-moz-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.cssload-square-green {
	background: rgb(84,250,212);
	right: 0;
	bottom: 0;
	animation-direction: alternate-reverse;
		-o-animation-direction: alternate-reverse;
		-ms-animation-direction: alternate-reverse;
		-webkit-animation-direction: alternate-reverse;
		-moz-animation-direction: alternate-reverse;
}

.cssload-square-pink {
	background: rgb(233,111,146);
	left: 0;
	top: 0;
}

.cssload-square-blend {
	background: rgb(107,26,107);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	animation: blend-anim 0.92s ease-in infinite;
		-o-animation: blend-anim 0.92s ease-in infinite;
		-ms-animation: blend-anim 0.92s ease-in infinite;
		-webkit-animation: blend-anim 0.92s ease-in infinite;
		-moz-animation: blend-anim 0.92s ease-in infinite;
}





@keyframes blend-anim {
	0% {
		transform: scale(0.01, 0.01) rotateY(0);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		transform: scale(1, 1) rotateY(0);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-o-keyframes blend-anim {
	0% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-o-transform: scale(1, 1) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-ms-keyframes blend-anim {
	0% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-ms-transform: scale(1, 1) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-webkit-keyframes blend-anim {
	0% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-webkit-transform: scale(1, 1) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-moz-keyframes blend-anim {
	0% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-moz-transform: scale(1, 1) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@keyframes cssload-part-anim {
	0% {
		transform: translate3d(-29px, -29px, 0);
	}
	100% {
		transform: translate3d(29px, 29px, 0);
	}
}

@-o-keyframes cssload-part-anim {
	0% {
		-o-transform: translate3d(-29px, -29px, 0);
	}
	100% {
		-o-transform: translate3d(29px, 29px, 0);
	}
}

@-ms-keyframes cssload-part-anim {
	0% {
		-ms-transform: translate3d(-29px, -29px, 0);
	}
	100% {
		-ms-transform: translate3d(29px, 29px, 0);
	}
}

@-webkit-keyframes cssload-part-anim {
	0% {
		-webkit-transform: translate3d(-29px, -29px, 0);
	}
	100% {
		-webkit-transform: translate3d(29px, 29px, 0);
	}
}

@-moz-keyframes cssload-part-anim {
	0% {
		-moz-transform: translate3d(-29px, -29px, 0);
	}
	100% {
		-moz-transform: translate3d(29px, 29px, 0);
	}
}

ul {
list-style-type: none;
margin: 20px 50px;
padding: 0;
overflow: hidden;
background-color: skyblue;
}
li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
}

li:hover:not(.active) {
  background-color: steelblue;
}

.menu_list{
	position: inherit;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'Krona One', sans-serif;
  	font-size: 25px;
}
.work_list{
	position: inherit;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'Krona One', sans-serif;
  	font-size: 13px;
}
.work2_list{
	position: inherit;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'Krona One', sans-serif;
  	font-size: 13px;
}
#menu_home:hover{
	color:pink;
}
#menu_about:hover{
	color:pink;
}
#menu_works:hover{
	color:pink;
}
#WP2_OPTIONS:hover{
	color:pink;
}
a:link{
	color:black;
	text-decoration: none;
}
a:hover{
	color:#0000ff;
}
a:visited{
	color:inherit;
}
