ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: skyblue;
}

li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
}

li:hover:not(.active) {
  background-color: steelblue;
}

.menu_list{
  list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
    font-size: 25px;
}
.work_list{
  list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
}
#menu_home:hover{
  color:pink;
}
#menu_about:hover{
  color:pink;
}
#menu_works:hover{
  color:pink;
}
a:link{
  color:black;
  text-decoration: none;
}
a:hover{
  color:#0000ff;
}
a:visited{
  color:inherit;
}

p{
  font-family: 'Krona One', sans-serif;
    font-size: 44px;
    width:80%;
    margin: 0px auto;
    position: fixed;
    left: 20%;
    bottom: 40%;

  }
button{
  background-color: skyblue;
  color: black;
  padding: 20px;
  font-size: 16px;
  border: none;
  position: fixed;
  left: 45%;
  bottom: 20%;
}
